/* Soluzione qui */

/* Modalità tablet */

@media all and (min-width: 768px) {

  /* Il logo nell'header si allinea a sinistra */

  #topbar {
    justify-content: left;
  }

  /* Il padding del contenuto principale della pagina aumenta */

  main {
    padding: 50px;
  }

  /* Compare il testo "(Dolce Tradizionale)" */

  .recipe-origin {
    display: inline-block;
  }

  /* La grandezza del titolo diventa più grande */

  .recipe-title {
    font-size: 1.3rem;
  }

  /* Le informazioni della ricetta sotto il video si dispongono a griglia */

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes ul li {
    width: 32%;
  }

  /* I bottoni social si allargano */

  .btn {
    padding: 10px 50px;
  }

  /* compare il banner pubblicitario */

  .ads {
    display: block;
  }

  /* l'immagine nella descrizione della ricetta viene circondata dal testo */

  .clearfix img {
    float: left;
    margin-right: 20px;
  }
}

/* Modalità Desktop */

@media all and (min-width: 992px) {

  /* La grandezza el titolo della ricetta aumenta ancora di più */

  .recipe-title {
    font-size: 1.6rem;
  }

  /* Le informazioni della ricetta tornano a disporsi una sotto l'altra */

  .quick-notes ul {
    display: block;
    flex-wrap: nowrap;
  }

  /* Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro */

  .recipe-card {
    display: flex;
    width: 100%;
  }

  .recipe-video {
    width: 60%;
  }

  .recipe-info {
    width: 40%;
  }

  .quick-notes ul li {
    width: 100%;
  }

  /* Compaiono i nomi delle piattaforme social */

  .social-networks .label {
    display: block;
  }

  .social-networks .btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 37px;
    gap: 4px;
  }

}