/* Soluzione qui */
@media all and (min-width: 768px) {

  /* Il logo nell'header si allinea a sinistra */

  #topbar {
    justify-content: left;
  }

  /* Il padding del contenuto principale della pagina aumenta */

  main {
    padding: 50px;
  }

  /* Compare il testo "(Dolce Tradizionale)" */

  .recipe-origin {
    display: inline-block;
  }

}